# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Gerado

# Flutter/Dart
.flutter-versions
.melos/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-settings
.dart_defines

# Ignorar `pubspec.lock` para projetos Flutter (caso seja um pacote e não um app)
# pubspec.lock

# Android
android/.gradle/
android/.cxx/
android/app/.cxx/
android/app/build/
android/local.properties
android/key.properties  # Caso você use um keystore local para assinar o app
android/app/debug.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/.dart_tool/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/build/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/build/

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/build/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/CMakeLists.txt
windows/runner/Debug/
windows/runner/Release/
windows/build/

# Web
web/.dart_tool/
web/build/

# Arquivos de lock e logs
*.lock
*.log

# Arquivos ocultos de metadados
.metadata
.packages